.card{
  background-image: url($cardBg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 60px;
  height: 97.5px;
  border: 2px solid black;
  border-radius: 10px;
  transition: 0.2s;

  @media screen and (max-width: 460px) {
    & {
      width: 40px;
      height: 65px;
    }
  }

  &:hover{
    filter: brightness(90%);
    box-shadow: 0px 0px 7px 4px rgba(0,0,0,0.5);
  }

  &:active {
    filter: brightness(70%);
  }
}

.card1{background-image: $red}
.card2{background-image: $blue;}
.card3{background-image: $green;}
.card4{background-image: $pink;}
.card5{background-image: $purple;}
.card6{background-image: $yellow;}
.card7{background-image: $brown;}
.card8{background-image: $orange;}
.card9{background-image: $lightred;}
.card10{background-image: $peachy;}
.card11{background-image: $lightgray;}
.card12{background-image: $darkgray;}
.card13{background-image: $lightblue;}
.card14{background-image: $darkblue;}
.card15{background-image: $yellowBlue;}
.card16{background-image: $mojito;}
.card17{background-image: $martini;}
.card18{background-image: $darkPurple;}

.card_back{
  background-image: url($cardBg);
  transform: rotateY(180deg);
}
