.field-selector-block{
  @include flex;

  width: 80%;
  font-size: 17px;
  font-family: inherit;
  font-weight: bold;
}

.field-selector-block__selector{
  appearance: none;
  cursor: pointer;
  background-image: $brownButtonColorActive;
  font-size: 17px;
  font-family: inherit;
  font-weight: bold;
  border: 2px solid black;
  border-radius: 5px;
  height: 30px;
  margin-top: 4px;
  padding: 0 5px 0;
  outline: none;

  & option {
    background-color: #874d45;
  }

  &:hover{
    box-shadow: 0px 0px 7px 3px rgba(0,0,0,0.5);
    transition: 0.1s;
  }

  &:focus{
    box-shadow: 0px 0px 7px 3px rgba(0,0,0,0.5);
  }
}

.time-n-turns-block{
  @include flex;

  font-weight: bold;
  width: 90%;
}

.time-n-turns-block__button{
  font-size: 17px;
  font-family: inherit;
  font-weight: bold;
  color: black;
  width: 51px;
  height: 18px;
  margin: 7px 5px 10px;
  border: 2px solid black;
  border-radius: 5px;
}
